#game-container {
    width: 100%;
    max-width: 600px;
    height: 300px;
    background: #050505;
    border: 2px solid #222;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    border-radius: 10px;
}

#world {
    width: 1000px; /* Welt ist größer als das Fenster */
    height: 1000px;
    position: absolute;
    background-image: radial-gradient(#1a1a1a 1px, transparent 1px);
    background-size: 20px 20px;
}

#player {
    width: 30px;
    height: 30px;
    background: var(--xp-color);
    box-shadow: 0 0 15px var(--xp-color);
    position: absolute;
    border-radius: 4px;
    transition: transform 0.1s linear;
}